:root {
    --gray-25: rgba(252, 252, 253, 1);
    --gray-800: rgba(29, 41, 57, 1);
    --gray-300: rgba(208, 213, 221, 1);
    --gray-400: rgba(152, 162, 179, 1);
    --variable-collection-white: rgba(255, 255, 255, 1);
}
